[submodule "node_modules/mongoose"]
	path = node_modules/mongoose
	url = https://github.com/LearnBoost/mongoose.git
[submodule "node_modules/express"]
	path = node_modules/express
	url = git://github.com/visionmedia/express.git
[submodule "node_modules/less"]
	path = node_modules/less
	url = git://github.com/cloudhead/less.js.git
[submodule "node_modules/commander"]
	path = node_modules/commander
	url = git://github.com/visionmedia/commander.js.git
[submodule "node_modules/connect"]
	path = node_modules/connect
	url = git://github.com/senchalabs/connect.git
[submodule "node_modules/qs"]
	path = node_modules/qs
	url = git://github.com/visionmedia/node-querystring.git
[submodule "node_modules/mime"]
	path = node_modules/mime
	url = git://github.com/bentomas/node-mime.git
[submodule "node_modules/ejs"]
	path = node_modules/ejs
	url = git://github.com/visionmedia/ejs.git
[submodule "node_modules/websocket-server"]
	path = node_modules/websocket-server
	url = http://github.com/miksago/node-websocket-server.git
[submodule "node_modules/paperboy"]
	path = node_modules/paperboy
	url = git://github.com/felixge/node-paperboy.git
[submodule "node_modules/socket.io"]
	path = node_modules/socket.io
	url = git://github.com/LearnBoost/socket.io.git
[submodule "node_modules/socket.io-client"]
	path = node_modules/socket.io-client
	url = git://github.com/LearnBoost/socket.io-client.git
[submodule "node_modules/uglify-js"]
	path = node_modules/uglify-js
	url = git://github.com/mishoo/UglifyJS.git

[submodule "node_modules/node-inspector"]
	path = node_modules/node-inspector
	url = git://github.com/dannycoates/node-inspector.git
[submodule "node_modules/npm"]
	path = node_modules/npm
	url = git://github.com/isaacs/npm.git
